/************************************************************/
/**
 * Université Sorbonne Paris Nord, Programmation Web
 * Auteurs                       : Étienne André et al.
 * Création                      : <2020
 * Dernière modification         : 2023/02/13
 */
/************************************************************/

body{
    background-image: url("/MonsterHigh/images/img1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.monster {
    display         : inline-block;
    vertical-align  : top;
    height          : 100px;
    margin-left     : 50px;

}

#boitemonster {
    width: 9%;
    height: 100%;
    margin-top: 10%;
}

h1{
    width: 30%;
    height: 30%;
    padding-left: 40%;
    text-align: center;
}

#monster {
    margin              : auto;
    border-radius       : 5px;
    background-color    : green;
    border              : black;
    border-width        : 20px;
    width               : 100px;
    height              : 100px;
    text-align          : center;
}

#actionbox {
    background: linear-gradient(135deg, #C4E0E5, rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border      : 1px solid rgba(255,255,0.1);/*grey*/
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    width       : 50%;
    overflow: auto;
    text-align: center;
    margin-top:10%;
    margin-left:10%;

}

#actionbox > p {
    margin: 0 ;
}

ul#statut {
    display         : flex;
    flex-direction  : row;
    list-style      : none;
    margin          : 0;
    padding-right   : 7%;
    float: right;

}

ul#statut li {
    margin-left : 20px;
}

button {
    width: 75px;
    height: 40px;
    background-color: deepskyblue;
    border: 0;
    margin-right: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #03e9f4;
    font-size: 70%;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
}



.b{
    margin-left: 30%;
    margin-right: 20%;
    margin-top:10%;
}

.a{
    margin-left: 40%;
    margin-right: 40%;
}
h1{
    color:white;
}


button:hover {
    background-color : dodgerblue;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

.a #kill:last-child{
    filter: hue-rotate(0deg);

}

.a #kill:last-child:hover {
    background-color: hsl(0, 100%, 50%);
}

